In [1]:
! git clone "https://github.com/FinanceData/marcap.git" marcap

fatal: destination path 'marcap' already exists and is not an empty directory.

    Date : 날짜 (DatetimeIndex)
    Code : 종목코드
    Name : 종명이름
    Open : 시가
    High : 고가
    Low : 저가
    Close : 종가
    Volume : 거래량
    Amount : 거래대금
    Changes : 전일대비
    ChagesRatio : 전일비
    Marcap : 시가총액(백만원)
    Stocks : 상장주식수
    MarcapRatio : 시가총액비중(%)
    ForeignShares : 외국인 보유주식수
    ForeignRatio : 외국인 지분율(%)
    Rank: 시가총액 순위 (당일)

In [2]:
# 2019년 데이터 CSV 읽기
import pandas as pd
import numpy as np
df = pd.read_csv('marcap/data/marcap-2019.csv.gz', dtype={'Code':str}, parse_dates=['Date'], encoding='utf-8')
#df.head(41)

In [3]:
from marcap import marcap_data

In [4]:
df = marcap_data('2019-01-01','2020-01-01')
len(df)

564413

In [5]:
df.head()

,Code,Name,Close,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,MarcapRatio,Stocks,ForeignShares,ForeignRatio,Rank
Date,,,,,,,,,,,,,,,,
2019-01-02,005930,삼성전자,38750.0,50.0,0.1,7847664.0,3.046826e+11,39400.0,39400.0,38550.0,2.313291e+14,14.87,5.969783e+09,3.319573e+09,55.61,1.0
2019-01-02,000660,SK하이닉스,60600.0,100.0,0.2,1934295.0,1.174588e+11,61300.0,61400.0,60000.0,4.411694e+13,2.84,7.280024e+08,3.523115e+08,48.39,2.0
2019-01-02,068270,셀트리온,214500.0,-8000.0,-3.6,1045357.0,2.285731e+11,224500.0,226000.0,213000.0,2.691034e+13,1.73,1.254561e+08,2.473005e+07,19.71,3.0
2019-01-02,005935,삼성전자우,31600.0,-150.0,-0.5,944879.0,3.020400e+10,32700.0,32800.0,31300.0,2.600322e+13,1.67,8.228867e+08,7.587485e+08,92.21,4.0
2019-01-02,207940,삼성바이오로직스,374000.0,-12500.0,-3.2,148344.0,5.654277e+10,389500.0,392000.0,372000.0,2.474571e+13,1.59,6.616500e+07,5.706595e+06,8.62,5.0

In [6]:
df_data = pd.DataFrame(data=df, columns=['Code', 'Name', 'Close', 'Open', 'Marcap', 'Rank', 'Volume','Amount'])
df_data.head(41)

,Code,Name,Close,Open,Marcap,Rank,Volume,Amount
Date,,,,,,,,
2019-01-02,005930,삼성전자,38750.0,39400.0,2.313291e+14,1.0,7847664.0,3.046826e+11
2019-01-02,000660,SK하이닉스,60600.0,61300.0,4.411694e+13,2.0,1934295.0,1.174588e+11
2019-01-02,068270,셀트리온,214500.0,224500.0,2.691034e+13,3.0,1045357.0,2.285731e+11
2019-01-02,005935,삼성전자우,31600.0,32700.0,2.600322e+13,4.0,944879.0,3.020400e+10
2019-01-02,207940,삼성바이오로직스,374000.0,389500.0,2.474571e+13,5.0,148344.0,5.654277e+10
2019-01-02,005380,현대차,114000.0,117500.0,2.435817e+13,6.0,565493.0,6.511241e+10
2019-01-02,051910,LG화학,337000.0,351000.0,2.378962e+13,7.0,227694.0,7.783693e+10
2019-01-02,017670,SK텔레콤,272500.0,267500.0,2.200321e+13,8.0,129645.0,3.516252e+10
2019-01-02,015760,한국전력,34050.0,33150.0,2.185888e+13,9.0,1503315.0,5.117194e+10
2019-01-02,005490,POSCO,237000.0,244500.0,2.066328e+13,10.0,175260.0,4.186762e+10
2019-01-02,028260,삼성물산,104000.0,105500.0,1.972776e+13,11.0,246954.0,2.580417e+10
2019-01-02,035420,NAVER,118000.0,121000.0,1.944798e+13,12.0,356120.0,4.225138e+10
2019-01-02,105560,KB금융,45950.0,46700.0,1.921223e+13,13.0,636199.0,2.936381e+10
2019-01-02,055550,신한지주,39400.0,40350.0,1.868346e+13,14.0,868545.0,3.441367e+10
2019-01-02,012330,현대모비스,185000.0,190500.0,1.800861e+13,15.0,215479.0,4.020471e+10
2019-01-02,034730,SK,252000.0,261000.0,1.773079e+13,16.0,74745.0,1.897676e+10
2019-01-02,051900,LG생활건강,1081000.0,1106000.0,1.688327e+13,17.0,26387.0,2.901240e+10
2019-01-02,032830,삼성생명,80300.0,81700.0,1.606000e+13,18.0,221030.0,1.779167e+10
2019-01-02,018260,삼성에스디에스,206000.0,205000.0,1.593983e+13,19.0,99070.0,2.062928e+10
2019-01-02,096770,SK이노베이션,169000.0,180000.0,1.562668e+13,20.0,475975.0,8.103061e+10
2019-01-02,006400,삼성SDI,210500.0,222000.0,1.447493e+13,21.0,345548.0,7.376963e+10
2019-01-02,033780,KT&G,97600.0,100500.0,1.339975e+13,22.0,450182.0,4.413482e+10
2019-01-02,000270,기아차,32800.0,33450.0,1.329592e+13,23.0,478590.0,1.569839e+10
2019-01-02,000810,삼성화재,264500.0,268000.0,1.253064e+13,24.0,49598.0,1.311979e+10
2019-01-02,003550,LG,68100.0,69400.0,1.175114e+13,25.0,135878.0,9.348778e+09
2019-01-02,090430,아모레퍼시픽,193500.0,208000.0,1.131172e+13,26.0,404377.0,8.006136e+10
2019-01-02,086790,하나금융지주,36150.0,36450.0,1.085375e+13,27.0,567892.0,2.061443e+10
2019-01-02,000030,우리은행,15400.0,15550.0,1.041040e+13,28.0,2040631.0,3.161141e+10
2019-01-02,010950,S-Oil,91300.0,97300.0,1.027881e+13,29.0,665046.0,6.161062e+10
2019-01-02,066570,LG전자,62800.0,63300.0,1.027708e+13,30.0,568844.0,3.602874e+10
2019-01-02,036570,엔씨소프트,467000.0,464500.0,1.024552e+13,31.0,83710.0,3.901083e+10
2019-01-02,091990,셀트리온헬스케어,72500.0,76500.0,1.018817e+13,32.0,876842.0,6.538594e+10
2019-01-02,011170,롯데케미칼,275000.0,277500.0,9.425740e+12,33.0,111841.0,3.113492e+10
2019-01-02,251270,넷마블,106000.0,113500.0,9.038182e+12,34.0,271562.0,2.925042e+10
2019-01-02,009540,현대중공업,125500.0,129500.0,8.882026e+12,35.0,143838.0,1.827340e+10
2019-01-02,035720,카카오,102000.0,103500.0,8.505553e+12,36.0,173462.0,1.784987e+10
2019-01-02,010130,고려아연,424000.0,427500.0,8.000880e+12,37.0,33226.0,1.411004e+10
2019-01-02,030200,KT,30400.0,29700.0,7.937799e+12,38.0,696916.0,2.102828e+10
2019-01-02,032640,LG유플러스,17950.0,17650.0,7.837174e+12,39.0,1244108.0,2.229947e+10
2019-01-02,024110,기업은행,13550.0,13950.0,7.587713e+12,40.0,1546090.0,2.110101e+10
2019-01-02,009150,삼성전기,100000.0,104500.0,7.469370e+12,41.0,1052757.0,1.068763e+11

In [7]:
marcap_rank = df_data['Rank'] <= 41
# 조건를 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다.
marcap = df_data[marcap_rank]
# 결과를 출력합니다.
marcap

,Code,Name,Close,Open,Marcap,Rank,Volume,Amount
Date,,,,,,,,
2019-01-02,005930,삼성전자,38750.0,39400.0,2.313291e+14,1.0,7847664.0,3.046826e+11
2019-01-02,000660,SK하이닉스,60600.0,61300.0,4.411694e+13,2.0,1934295.0,1.174588e+11
2019-01-02,068270,셀트리온,214500.0,224500.0,2.691034e+13,3.0,1045357.0,2.285731e+11
2019-01-02,005935,삼성전자우,31600.0,32700.0,2.600322e+13,4.0,944879.0,3.020400e+10
2019-01-02,207940,삼성바이오로직스,374000.0,389500.0,2.474571e+13,5.0,148344.0,5.654277e+10
...,...,...,...,...,...,...,...,...
2019-12-30,011170,롯데케미칼,224000.0,228500.0,7.677694e+12,37.0,113754.0,2.555484e+10
2019-12-30,091990,셀트리온헬스케어,53000.0,54000.0,7.628187e+12,38.0,643498.0,3.425742e+10
2019-12-30,030200,KT,27000.0,26850.0,7.050019e+12,39.0,623282.0,1.676736e+10
2019-12-30,021240,웅진코웨이,93100.0,92800.0,6.870745e+12,40.0,153018.0,1.419684e+10
2019-12-30,002790,아모레G,82700.0,81800.0,6.819291e+12,41.0,76253.0,6.288125e+09

In [8]:
rank_data = pd.DataFrame(data=marcap, columns=['Code','Name','Marcap','Rank','Volume','Amount'])
rank_data

              Code      Name        Marcap  Rank     Volume        Amount
Date
2019-01-02  005930      삼성전자  2.313291e+14   1.0  7847664.0  3.046826e+11
2019-01-02  000660    SK하이닉스  4.411694e+13   2.0  1934295.0  1.174588e+11
2019-01-02  068270      셀트리온  2.691034e+13   3.0  1045357.0  2.285731e+11
2019-01-02  005935     삼성전자우  2.600322e+13   4.0   944879.0  3.020400e+10
2019-01-02  207940  삼성바이오로직스  2.474571e+13   5.0   148344.0  5.654277e+10
...            ...       ...           ...   ...        ...           ...
2019-12-30  011170     롯데케미칼  7.677694e+12  37.0   113754.0  2.555484e+10
2019-12-30  091990  셀트리온헬스케어  7.628187e+12  38.0   643498.0  3.425742e+10
2019-12-30  030200        KT  7.050019e+12  39.0   623282.0  1.676736e+10
2019-12-30  021240     웅진코웨이  6.870745e+12  40.0   153018.0  1.419684e+10
2019-12-30  002790      아모레G  6.819291e+12  41.0    76253.0  6.288125e+09

[10022 rows x 6 columns]

In [9]:
rank_data.to_csv("rank_data.csv")

In [10]:
#월말 데이터
rank_jan = rank_data[rank_data.index=="2019-01-31"]
rank_feb = rank_data[rank_data.index=="2019-02-28"]
rank_mar = rank_data[rank_data.index=="2019-03-29"]
rank_apr = rank_data[rank_data.index=="2019-04-30"]
rank_may = rank_data[rank_data.index=="2019-05-31"]
rank_jun = rank_data[rank_data.index=="2019-06-28"]
rank_jul = rank_data[rank_data.index=="2019-07-31"]
rank_aug = rank_data[rank_data.index=="2019-08-30"]
rank_sep = rank_data[rank_data.index=="2019-09-30"]
rank_oct = rank_data[rank_data.index=="2019-10-31"]
rank_nov = rank_data[rank_data.index=="2019-11-29"]
rank_dec = rank_data[rank_data.index=="2019-12-30"]

In [11]:
rank_jan_plot = pd.DataFrame(data=rank_jan, columns=['Name','Amount'])
rank_jan_plot2 = rank_jan_plot.reset_index(drop=True)
rank_jan_plot2

        Name        Amount
0       삼성전자  1.007418e+12
1     SK하이닉스  3.333968e+11
2      삼성전자우  9.648990e+10
3        현대차  6.607378e+10
4       셀트리온  1.844163e+11
5   삼성바이오로직스  6.395496e+10
6       LG화학  1.358448e+11
7      POSCO  1.136639e+11
8       삼성물산  2.786496e+10
9      NAVER  1.472137e+11
10      한국전력  8.054853e+10
11     현대모비스  5.913997e+10
12     SK텔레콤  6.057028e+10
13      신한지주  6.462884e+10
14      KB금융  1.092042e+11
15    LG생활건강  4.508063e+10
16        SK  2.825383e+10
17      삼성생명  1.007477e+11
18   SK이노베이션  5.976777e+10
19   삼성에스디에스  2.081115e+10
20     삼성SDI  8.327291e+10
21       기아차  3.963474e+10
22      KT&G  3.830273e+10
23        LG  1.996930e+10
24      삼성화재  2.545932e+10
25    하나금융지주  8.214313e+10
26     S-Oil  3.008484e+10
27      LG전자  6.042354e+10
28    아모레퍼시픽  7.347465e+10
29  셀트리온헬스케어  5.446524e+10
30     롯데케미칼  3.553593e+10
31     엔씨소프트  5.873441e+10
32     현대중공업  2.139854e+11
33       넷마블  2.895909e+10
34      고려아연  1.866579e+10
35       카카오  5.422136e+10
36      삼성전기  2.456385e+11
37      기업은행  2.233460e+10
38        KT  1.946098e+10
39      강원랜드  1.620158e+10

In [12]:
rank_jan

              Code      Name        Marcap  Rank      Volume        Amount
Date
2019-01-31  005930      삼성전자  2.755055e+14   1.0  21621145.0  1.007418e+12
2019-01-31  000660    SK하이닉스  5.379937e+13   2.0   4447535.0  3.333968e+11
2019-01-31  005935     삼성전자우  3.085825e+13   3.0   2574883.0  9.648990e+10
2019-01-31  005380       현대차  2.767003e+13   4.0    509642.0  6.607378e+10
2019-01-31  068270      셀트리온  2.747489e+13   5.0    843225.0  1.844163e+11
2019-01-31  207940  삼성바이오로직스  2.639984e+13   6.0    161333.0  6.395496e+10
2019-01-31  051910      LG화학  2.597798e+13   7.0    366641.0  1.358448e+11
2019-01-31  005490     POSCO  2.388919e+13   8.0    408983.0  1.136639e+11
2019-01-31  028260      삼성물산  2.276281e+13   9.0    232564.0  2.786496e+10
2019-01-31  035420     NAVER  2.241462e+13  10.0   1054276.0  1.472137e+11
2019-01-31  015760      한국전력  2.214776e+13  11.0   2347829.0  8.054853e+10
2019-01-31  012330     현대모비스  2.190237e+13  12.0    263647.0  5.913997e+10
2019-01-31  017670     SK텔레콤  2.083239e+13  13.0    234773.0  6.057028e+10
2019-01-31  055550      신한지주  2.048542e+13  14.0   1495426.0  6.462884e+10
2019-01-31  105560      KB금융  2.009026e+13  15.0   2272775.0  1.092042e+11
2019-01-31  051900    LG생활건강  1.975702e+13  16.0     35530.0  4.508063e+10
2019-01-31  034730        SK  1.853994e+13  17.0    106974.0  2.825383e+10
2019-01-31  032830      삼성생명  1.766000e+13  18.0   1138071.0  1.007477e+11
2019-01-31  096770   SK이노베이션  1.742976e+13  19.0    317210.0  5.976777e+10
2019-01-31  018260   삼성에스디에스  1.729394e+13  20.0     93229.0  2.081115e+10
2019-01-31  006400     삼성SDI  1.536887e+13  21.0    369895.0  8.327291e+10
2019-01-31  000270       기아차  1.473496e+13  22.0   1088374.0  3.963474e+10
2019-01-31  033780      KT&G  1.360569e+13  23.0    384678.0  3.830273e+10
2019-01-31  003550        LG  1.340769e+13  24.0    257040.0  1.996930e+10
2019-01-31  000810      삼성화재  1.293333e+13  25.0     93072.0  2.545932e+10
2019-01-31  086790    하나금융지주  1.199467e+13  26.0   2060088.0  8.214313e+10
2019-01-31  010950     S-Oil  1.176490e+13  27.0    288329.0  3.008484e+10
2019-01-31  066570      LG전자  1.089894e+13  28.0    903199.0  6.042354e+10
2019-01-31  090430    아모레퍼시픽  1.061022e+13  29.0    404998.0  7.347465e+10
2019-01-31  091990  셀트리온헬스케어  1.045518e+13  30.0    730839.0  5.446524e+10
2019-01-31  011170     롯데케미칼  1.028263e+13  31.0    118017.0  3.553593e+10
2019-01-31  036570     엔씨소프트  1.027843e+13  32.0    124938.0  5.873441e+10
2019-01-31  009540     현대중공업  9.802077e+12  34.0   1538515.0  2.139854e+11
2019-01-31  251270       넷마블  9.123475e+12  35.0    266698.0  2.895909e+10
2019-01-31  010130      고려아연  8.312235e+12  36.0     42331.0  1.866579e+10
2019-01-31  035720       카카오  8.280406e+12  37.0    546040.0  5.422136e+10
2019-01-31  009150      삼성전기  8.066919e+12  38.0   2223925.0  2.456385e+11
2019-01-31  024110      기업은행  7.979698e+12  39.0   1561298.0  2.233460e+10
2019-01-31  030200        KT  7.467798e+12  40.0    677756.0  1.946098e+10
2019-01-31  035250      강원랜드  7.273977e+12  41.0    478343.0  1.620158e+10